{:profiles
 {:mbamb
;; 
  {:default true
   :sim     50
   :delay   50
   :alone   200
   :held    200}
;;
  }

 :applications {:rdp-cond ["^com\\.parallels\\.winapp\\.","^com\\.parallels\\.desktop\\.console"]}

 :devices {:hhkb-keyboard [{:product_id 34 :vendor_id 1278}]}

 :simlayers {:trigger-j {:key :j}}

;;  :tos {;;
;;  :switch-layer-1 {:set ["layer-1" 1] :after}
;;  ;;
;;  }

;;  :layers {;;
;;           :layer-2 {:key :japanese_eisuu :alone {:key :vk_none}}
;;           :layer-1 {:key :spacebar :alone {:key :spacebar}}}

 :main [{:des "global"
         :rules [;; [:japanese_kana nil [:!rdp-cond] (:alone :lang2 :held :lang1)] ;; mac上の入力切替
                ;;  [:japanese_kana nil nil {:alone :f16 :held :!Tf16}] ;; rdp上の入力切替 英：f16 日：ctrl-f16
                 [:japanese_kana nil [:!rdp-cond] (:alone :japanese_kana :held :lang1)]
                ;;  [:f16 nil [:!rdp-cond] (:alone :lang2 :held :lang1)] ;; mac上の入力切替
                ;;  [:f16 nil nil {:alone :f16 :held :!Tf16}] ;; rdp上の入力切替 英：f16 日：ctrl-f16
                [:left_command :left_control [:rdp-cond]] ;; rdp_command　→　win上controlキー
                [:left_control :left_command [:rdp-cond]] ;; rdp_control　→　win上winキー
                [:right_command :right_control [:rdp-cond]]
                [:right_control :right_command [:rdp-cond]]

                ;; [:##keypad_1 :]
                [:##keypad_2 :up_arrow]
                ;; [:##keypad_3 :]
                [:##keypad_4 :left_arrow]
                [:##keypad_5 :down_arrow]
                [:##keypad_6 :right_arrow]
                ;; [:##keypad_7 :]
                ;; [:##keypad_8 :]
                ;; [:##keypad_9 :]


                ;;  [:right_control :right_command [:rdp-cond]] ;; rdp_control　→　win上winキー
                 [:!Tq :!Of4 [:rdp-cond]]]}
        ;; {:des "Swap Modify Key on hhkb keyboard"
        ;;  :rules [:hhkb-keyboard
        ;;          [:left_control :left_command]
        ;;          [:left_command :left_control]
        ;;         ;;  [:japanese_pc_nfer :japanese_eisuu]
        ;;         ;;  [:japanese_pc_xfer :japanese_kana]
        ;;          ;;
        ;;          ]}

        {:des "layer-1,2 on/off"
         :rules [;;
                 [:##japanese_eisuu [["layer-3" 1]] nil {:alone :japanese_eisuu :afterup ["layer-3" 0]}]
                ;;  [:##f17 [["layer-3" 1]] nil {:alone :vk_none :afterup ["layer-3" 0]}]
                 [:##spacebar [["layer-2" 1]] nil {:alone :spacebar :afterup [["layer-1" 0] ["layer-2" 0] ["layer-3" 0]]}]
                ;;  [:!Sspacebar [["layer-3" 1]] nil {:alone :spacebar :afterup [["layer-1" 0] ["layer-2" 0] ["layer-3" 0]]}]
                ;;
                 ]
         ;;
         }

        {:des   "press j and l simultaneously to f16"
         :rules [[[:j :l] :a]]}

        {:des "triger-j"
         :rules [:trigger-j
                 [:##spacebar [["layer-3" 1] ["trigger-j" 0]] nil {:alone :spacebar :afterup [["layer-1" 0] ["layer-2" 0] ["layer-3" 0]]}]
                 [:##f :4]
                  ;;
                 ]
         ;;
         }
        {:des "layer-1"
         :rules [:layer-1
                 [:##spacebar [["layer-3" 1] ["layer-1" 0]] nil {:alone :vk_none :afterup ["layer-3" 0]}]
                 [:##d [["layer-2" 1] ["layer-1" 0]] nil nil]]}
        {:des "layer-2"
         :rules [:layer-2
                ;;  [:##tab :escape] ;;39キーでは使わない 
                 [:##q :home]
                 [:##w :up_arrow]
                 [:##e :end]
                ;;  [:##r :]
                 [:##t :open_bracket]
                 [:##y :close_bracket]
                 [:##u :7]
                 [:##i :8]
                 [:##o :9]
                 [:##p :0]
                ;;  [:##open_jbracket :close_bracket] ;;39キーでは使わない 
                 [:##a :left_arrow]
                 [:##s :down_arrow]
                 [:##d :right_arrow]
                 [:##f :equal_sign]
                 [:##g :!Sopen_bracket]
                 [:##h :!Sclose_bracket]
                 [:##j :4]
                 [:##k :5]
                 [:##l :6]
                 [:##semicolon :hyphen]
                ;;  [:##quote :grave_accent_and_tilde] ;;39キーでは使わない 
                ;;  [:##z :]
                ;;  [:##x :]
                ;;  [:##c :]
                ;;  [:##v :]
                ;;  [:##b :]
                 [:##n :quote]
                 [:##m :1]
                 [:##comma :2]
                 [:##period :3]
                 [:##slash :grave_accent_and_tilde]
                 ;;
                 ]}

        {:des "layer-3"
         :rules [:layer-3
                ;;  [:##tab :vk_none]
                 [:##q :left_command]
                 [:##w [{:mkey {:hwheel -32}}]]
                 [:##e [{:mkey {:vwheel 32}}]]
                 [:##r [{:mkey {:hwheel 32}}]]
                 [:##t :button5]
                 [:##y :home]
                 [:##u :page_down]
                 [:##i :page_up]
                 [:##o :end]
                 [:##p :insert]
                ;;  [:##open_bracket :vk_none] ;;39キーでは使わない
                 [:##a :left_option]
                 [:##s :left_shift]
                 [:##d [{:mkey {:vwheel -32}}]]
                 [:##f :button1]
                 [:##g :button3]
                 [:##h :left_arrow]
                 [:##j :down_arrow]
                 [:##k :up_arrow]
                 [:##l :right_arrow]
                ;;  [:##semicolon :vk_none]
                ;;  [:##quote :vk_none] ;;39キーでは使わない 
                 [:##z :left_control]
                 [:##x :escape]
                 [:##c :tab]
                 [:##v :button2]
                 [:##b :button4]
                 [:##n :return_or_enter]
                 [:##m :spacebar]
                 [:##comma :delete_or_backspace]
                 [:##period :delete_forward]
                 [:##slash :caps_lock]
                ;;  [:##delete_or_backspace :vk_none] ;;39キーでは使わない 
                ;;  [:##return_or_enter :vk_none] ;;39キーでは使わない 
                 ]}
                 ;;
        ]
        ;;
 }
